html {
    background-color: black;
}

/*Header*/

header {
    /* sizing */
    width: 100%;
    height: 100px;

    /* Coloring */
    background-color: black;
    color: white;

    /* aligning */
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    /* Positioning */
}

h1, h2{
    /* Centers the header better, not needed */
    color: white;
    text-align: center;
}

h2 {
    margin-top: 40px;
}

nav {
    /*  The 4 sections will always have 75% of the nav header*/
    width: 75%;
  
    /* Centers nav bar, not a big difference */
    display: flex;
    align-items: center;
}

ul{
    /* Gets rid of the bullets */
    list-style: none;
}

li {
    font-size: large;
}

a {
    /* Changes link texts color */
    text-decoration: none;
    color: white;
}

a:hover {
    /* Changes the color of the text when hovering over it */
    color: blue;
}

nav > ul {
    /* Spaces the chooices */
    display: flex;
    justify-content: space-evenly;
  
    /* Items stay on page even if squished */
    flex-wrap: wrap;
    width: 100%;
  
}

  /* Main */

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Tables */

td {
    position: relative;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    color:white;
  }
  
  td:hover {
    background-color: #f0f0f0;
  }
  
  td .tooltip {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 8px;
    border-radius: 6px;
    white-space: nowrap;
    z-index: 1;
  }
  
  td:hover .tooltip {
    display: block;
  }

table {
    width: 60%;
    height: 100px;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}

th {
    color: white;
}