:root {
    --menu-color1: rgb(232, 204, 156);
    --menu-color2: rgb(223, 179, 104);
}

/* ---------- Body ----------*/

body {
    background-color: black;
    margin: 10px 10px 0 10px;
}

header, main, .page-nav-section{
    /* Coloring */
    color: black;
    background: linear-gradient(
        90deg,
        var(--menu-color1),
        var(--menu-color2) 50%,
        var(--menu-color1) 100%
    );
}

nav, h2, h1 {
    /* Centers nav bar, not a big difference */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

/* ---------- Header ---------- */

header {
    /* sizing */
    width: 100%;
    height: 100px;

    /* aligning */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: 0;

    /* Positioning */
}

h1 {
    font-size: 40px;
    /* Centers the header better, not needed */
    width: 300px;
    text-align: center;

}

/* sections */
.main-nav-section {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;

}

.page-nav-section {

    /* Positioning */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 10;
    margin: 0;
    gap: 1px;
} 

.menu-nav {
    position: sticky;
    top: 10px;
    width: 100%;
    
    /* Border */
    border-bottom: 2px solid black;
}


nav {
    /*  The 4 sections will always have 75% of the nav header*/
    width: 75%;
}

ul{
    /* Gets rid of the bullets */
    list-style: none;
}

li {
    font-size: large;
}

a {
    /* Changes link texts color */
    text-decoration: none;
    color: black;
}


.ma1, .ma3 {

    /* borders */
    border-width: 0 2px;
    border-color: black;
    border-style: solid;
    padding-right: 50px;
    padding-left: 50px;

}

.main-attachment {
    /* Fonts */
    padding-left: 50px;
    padding-right: 50px;
}

a:hover {
    /* Changes the color of the text when hovering over it */
    color: rgb(238, 98, 42);
}

nav > ul {
    /* Spaces the chooices */
    display: flex;
    justify-content: space-evenly;
  
    /* Items stay on page even if squished */
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
  
  }

  /* ---------- Main ---------- */

main {

    /* Coloring */
    color: black;

    margin: 0;
    width: 100%

}


article {
    display: flex;
    justify-content: space-between;
    margin: 20px 5px 20px 5px;
}

p {
    font-size: large;
}

hr {

    /* Coloring */
    border: 2px solid black;

    /* Positioning */
    display: flex;
    justify-content: center;
    width: 70%;
}

.invisible {

    /* Coloring */
    border: 0px solid linear-gradient(
        90deg,
        var(--menu-color1),
        var(--menu-color2) 50%,
        var(--menu-color1) 100%
    );;

    /* Positioning */
    margin: 0;
    width: 100%;
    height: 20px;
}

/* ---------- Media ---------- */

@media (min-width: 1000px) {
    body{
        width: 2000px;
    }

    html{
        display: flex;
        justify-content: center;
    }

    h1 {
        font-size: 30px;
    }
}

@media (max-width: 1000px) and (min-width: 600px) {
    .ma2 {
        display: inline-block;
        padding: 10%;
        width: 200px
    }

    .main-list-item-2 {
        width: 200px;
    }

}

@media (max-width: 600px) {
    
    .main-attachment {
        font-size: medium;
        padding: 5px;
    }

    h1 {
        font-size: medium;
        width: 25%
    }


}