html {
    background-color: black;
}

body {
    margin: 10px 10px 0 10px;
    background-color: rgb(247, 233, 196);;
}

/*Header*/

header {
    width: 100%;
    background-color: rgb(247, 233, 196);
    display: flex;
    justify-content: space-between;
    flex-direction: column ;
    margin: 0;
}

h1, h2 {
    width: 100%;
    display: flex;
    justify-content: center;
}

nav {
    /*  The 4 sections will always have 75% of the nav header*/
    width: 75%;
  
    /* Centers nav bar, not a big difference */
    display: flex;
    align-items: center;
}

ul{
    /* Gets rid of the bullets */
    list-style: none;
}

li {
    font-size: large;
}

a {
    /* Changes link texts color */
    text-decoration: none;
    color: black;
}

/* main */

main {
    width: 100%;
    background-color: rgb(247, 233, 196);
    font-size: 20px;
    margin: 0;
}

section {
    width: 100%;
}

article {
    display: flex;
    justify-content: space-between;
    margin: 20px 5px 20px 5px;
}

p {
    margin: 10px;
}

hr {
    border: 2px solid black;
    width: 90%;
    display: flex;
    justify-content: center;
}

.invisible {
    border: 6px solid rgb(247, 233, 196);
    display: flex;
    justify-content: center;
}
